<!--Register Page, inherits from app/base.html-->
{% extends "app/base.html" %}
{% load bootstrap4 %}
{% load static %}


<!--Page Title-->
{% block page_header %}
	<h3 style="background-color: rgba(255,255,255, 0.7); width:100%; height:50px; margin: auto;text-align: center;">Register for an account</h3>
{% endblock page_header %}



<!--Main Body, Page Specific Content-->
{% block content %}
	<!--Load external stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<!--Register Form-->
	<form method="post" action="{% url 'users:register' %}" style="background-color: rgba(220, 100, 100,0.8); width:50%; margin: auto; margin-top:80px; padding:20px; font-weight: bold; color: black;">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="Submit" class="btn btn-primary">Register</button>
		{% endbuttons %}
		<input type="hidden" name="next" value="{% url 'app:index' %}" />
	</form>

{% endblock content %}