<!-- A Parent Template for all HTML pages, they inherit the basic structure from -->
{% load bootstrap4 %}


<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
	<title>Feelings - Beta</title>

	<!--STYLING/JAVASCRIPT SHEETS-->
		<!--Bootstrap's CSS Template-->
		{% bootstrap_css %}
		<!--Bootstrap's JavaScript and jQuery Templates, allows use of ready-made functional components-->
		{% bootstrap_javascript jquery='full' %}
		<!--Custom JavaScript Sheet-->
		<script src="static/script.js"></script>
		<!--Custom CSS Style Sheet, includes Styling for all pages within the website-->
		<link rel="stylesheet" href="static/style.css">

	<!-- GOOGLE FONTS -->
		<!--Main Logo Font Style-->
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<!--Page Headers Font Style-->
		<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
		<!--Movies Page - Genre Titles Font Style-->
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
</head>

<!--MAIN BODY-->
<body>
	<div class="hero">
		<!--Create the navigation bar and set a light colour background, make the page logo a link to home page-->
		<nav id="navbar" class="navbar sticky-top navbar-expand-md navbar-light bg-warning mb-4 border">
			<a id="logo" class="navbar-brand" href="{% url 'app:index'%}">
				Feelings//</a>

			<!--Create drop down navigation list when screen size reduces-->		
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-tpggler-icon"></span></button>

			<!--Create a holding place in the nav bar for future pages within website-->
			<div style="font-weight: bold;" class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="btn btn-light bg-warning" style="font-weight: bold;"><a class="nav-link" href="{% url 'app:camera_page' %}">Recommend Movies</a></li>
					<li class="btn btn-light bg-warning" style="font-weight: bold;"><a class="nav-link" href="{% url 'app:movies' %}">Browse Movies</a></li>
				</ul>

				<!--Add Register and Login links in nav bar and their actions-->
				<ul class="navbar-nav ml-auto">
					
					{% if user.is_authenticated %}
						<li class="nav-item" style="font-weight: bold; margin: 10px;">
						 	<span class="navbar-text">Hello, {{user.username}}.</span>
						</li>
						<li class="nav-item btn btn-light bg-warning" style="font-weight: bold;">
							<a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
						</li>
					{% else %}
						<li class="nav-item btn btn-light bg-warning" style="font-weight: bold;">
							<a class="nav-link" href="{% url 'users:register' %}">Register</a>
						</li>
						<li class="nav-item btn btn-light bg-warning" style="font-weight: bold;">
							<a class="nav-link" href="{% url 'users:login' %}">Login</a>
						</li>
					{% endif %}
				</ul>

				<!-- Search Bar-->
				<!--
				<form class="form-inline">
	    		<input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	    		<button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  			</form>
	  			-->
			
			</div>
		</nav>


		<!--Style/Provide a background structure for main body of webpages-->
		<!--Insert Header for each Page-->
		<div class="pb-2 mb-2" id="header">
			<div id="page-title">
				{% block page_header %}{% endblock page_header%}
			</div>
		</div>
		<br>
		<!--Main body, add page specific structure/elements within the block content-->
		<main role="main" class="container-fluid">
			{% block content %}{% endblock content%}
		</main>
	</div>
</body>
</html>

