<!-- Recommend Movies Page (Inherits from base.html)-->
{% extends "app/base.html" %}
{% load bootstrap4 %}


<!--Page Title-->
{% block page_header %}
	<!--<p id="cam_page_title" style="background-color: white;">Get Movie Recommendations depending on your mood!!</p>-->
{% endblock page_header %}



<!--Main Body, Page Specific Content-->
{% block content %}

<!--MODAL-->
<!--add function-->
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
	$("#myModal .close").click()
</script>

<!--Modal, pop up 'Instructions' Window-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: rgba(211,211,211,1);height: 550px;">
            <div class="modal-header">
            	<!--Title-->
                <h5 class="modal-title">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!--Main Body-->
            <div class="modal-body container">
            	<div id="text" class="row">
            		<div class="col">
            			<p>Place your face to a close distance against your camera, as shown to the image below. Then, try to imitate one of the four emotions shown here and press the <b>Capture</b>* button!!
            			<br><br>
            			<b style="text-decoration: underline;">Disclaimer</b>
            			<br>
            			As this is a beta version, please be aware that the algorithm for recognizing emotions, it will not be accurate at all times. It has an accuracy of 73-76%.
            			<br><br>
            			<i style="font-size: 13;">Please allow few seconds for your webcam to open.</p>
            		</div>
            	</div>

            	<!--Images Container/Row-->
                <div class="form-group row">
	                <div class="col" id="col1"><img id="img" src="static/images/camera_page/angry.jfif"><figcaption>Angry</figcaption></div>
	                <div class="col" id="col2"><img id="img" src="static/images/camera_page/happy.jfif"><figcaption>Happy</figcaption></div>
	                <div class="col" id="col3"><img id="img" src="static/images/camera_page/sad.jfif"><figcaption>Sad</figcaption></div>
	                <div class="col" id="col4"><img id="img" src="static/images/camera_page/neutral.jfif"><figcaption>Neutral</figcaption></div>
                </div>

                <!--Footer Row-->
               	<div class="row">
               		<div class="col">
              			<p style="font-size: 11px;"><i>*Images are not being saved in memory. After leaving or refreshing the page, they disappear.</i></p>
              		</div>
              	</div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL-->


<!--CAMERA STRUCTURE & FUNCTION-->
<div class="container-fluid" id="cam_page">
	<div class="row">
		<div class="col" id="column1">
			<div id="open_cam"><img id="face_image" width="510" height="360" src="{% url 'app:display_camera_frame'%}"></div>
			<br>
			<div id="button"><button id="snap" class="btn btn-primary" onclick="get_emotion()">Capture</button></div>
		</div>
		<div class="col" id="column2">
			<div style="font-family: 'Poppins', sans-serif;" id="screenshot"></div>
		</div>
	</div>

	<!--Questionnaire URL-->
	<div class="row" id="questionnaire">
		<a style="color: white;" href="https://forms.gle/qXd2qKFi64dG8UWo9" target="_blank">Please answer the questionnaire</a>
	</div>

</div>

<!--add function-->
<script>
	function get_emotion(){
		$.ajax({
            url: "{% url 'app:get_emotion_and_images' %}",
			data: {src: document.getElementById("face_image").src},
            type: "GET",
            cache: false,
        }).then(function (response) {
		$('#screenshot').html(response)
	});
	}
</script>
<!--END CAMERA FUNCTIONS-->


{% endblock content %}
