<!--Embedded Result Page, it displays recommendation results within amera_page.html-->

<!--Display screenshot taken from live feed-->
<img src="{{image_src}}" width="360" height="280" style="margin-bottom: 10px; border: 8px solid gray; border-radius: 14px;">


<!--Print Results-->
<h2 style="font-size: 18px; text-decoration: underline; font-weight: bold; padding-bottom: 5px;">We recommend these movies for you:</h2>
{% for i in recommended_movies %}
    <h4 style="font-size: 18px;">{{ forloop.counter}}) {{i}}</h4>
{% endfor %}
