<!--Home Page (Inherits from base.html)-->
{% extends "app/base.html" %}
{% load bootstrap4 %}



<!--Page Title-->
{% block page_header %}
	<p style="background-color: rgba(255,255,255, 0.7);">Welcome</p>
{% endblock page_header %}



<!--Main Body, Page Specific Content-->
{% block content%}
<!--Welcome Message Window-->
<div id="main-text">
	<!--Text-->
	<div id="main-text-borders">
		<!-- Text Message-->
		<br><h6>Hey there,
			<br><br><br>
			&nbsp;&nbsp;&nbsp;This is a beta version of my final year Computer Science &nbsp;&nbsp;&nbsp;project with title <em>"Feelings - An Emotion Based Movie &nbsp;&nbsp;&nbsp;Recommendation Web-App which uses Facial Emotion &nbsp;&nbsp;&nbsp;Classification"</em>. 
			<br><br>
			&nbsp;&nbsp;&nbsp;It is still in the development phase and I would really &nbsp;&nbsp;&nbsp;appreciate if you could spare some of your time and be part &nbsp;&nbsp;&nbsp;of the <em>User Testing</em> phase. It will approximately take 15 &nbsp;&nbsp;&nbsp;minutes to complete. You are asked to take some photos of &nbsp;&nbsp;&nbsp;yourself and answer a questionnaire (contains 11 questions), &nbsp;&nbsp;&nbsp;by following the link below the camera window.
			<br><br>
			&nbsp;&nbsp;&nbsp;At this stage, the main functions are to allow users to capture &nbsp;&nbsp;&nbsp;an image of their faces, while imitating one of 4 emotions - &nbsp;&nbsp;&nbsp;Angry, Happy, Sad and Neutral. After pressing the "Capture" &nbsp;&nbsp;&nbsp;button, it will print the image taken, including the predicted &nbsp;&nbsp;&nbsp;emotion. Finally, the system will suggest relevant movie titles &nbsp;&nbsp;&nbsp;related to the captured emotion. For example, if the &nbsp;&nbsp;&nbsp;predicted emotion has been recognised as <em>"Happy"</em>, it will &nbsp;&nbsp;&nbsp;suggest movie genres that include <em>'Comedies', 'Musicals'</em> etc.

		<br>
		<br>
		<br>
		<a style="color: black; font-weight: bold;" id="take_me_there" href="{% url 'app:camera_page'%}">Take me there!</a>
		</h6>
	</div>
</div>
<!--Welcome Message Window End-->
{% endblock content%}
