<!-- Movies Page (Inherits from base.html)-->
{% extends "app/base.html" %}
{% load bootstrap4 %}



<!--Main Body, Page Specific Content-->
{% block content %}

<div id="movies-page">
    <!-- MAIN CAROUSEL/TOP OF PAGE-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="width: 80%;">

        <!--Slide Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <!--Main Carousel Content-->
      	<div class="carousel-inner">
            <!--First Slide-->
        	<div class="carousel-item active" data-pause="True" data-interval="3000">
          		<img class="d-block w-100" style="height: 500px;" src="https://bit.ly/3efZhIC" alt="First slide">
          		<div class="carousel-caption d-none d-md-block">
              		<h5>Discover the Magic!</h5>
                    <a href="https://itunes.apple.com/gb/movie-collection/harry-potter-complete-collection/id716805945" target="_blank"><h6 style="text-decoration: underline; color: white;">Watch Harry Potter Now</h6></a>
            	</div>
        	</div>
            <!--Second Slide-->
       		<div class="carousel-item" data-pause="True" data-interval="3000">
         		<img class="d-block w-100" style="height: 500px;" src="https://bit.ly/2MHNpUA" alt="Second slide">
         		<div style="padding-left: 20%;" class="carousel-caption d-none d-md-block">
                    <h5 style="background-color: black; width:270px; margin: 0; position: relative;">May the Force be with You!</h5>
              		<a href="https://itunes.apple.com/gb/movie-collection/star-wars-six-movie-collection/id982709307" target="_blank"><h6 style="text-decoration: underline; color: white; background-color: black; width:270px;">Watch Star Wars Lego Now</h6></a>
            	</div>
        	</div>
            <!--Third Slide-->
        	<div class="carousel-item" data-pause="True" data-interval="3000">
          		<img class="d-block w-100" style="height: 500px;" src="https://bit.ly/3rvNNEl" alt="Third slide">
          		<div class="carousel-caption d-none d-md-block">
              		<h5>Set out on a journey with this little robot!</h5>
                    <a href="https://itunes.apple.com/gb/movie/wall-e/id286533539"><h6 style="text-decoration: underline; color: white;">Watch WALL-E Now</h6></a>
            	</div>
        	</div>
      	</div>
        <!--Control (Left-Right) Buttons-->
      	<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
        	<span class="sr-only">Previous</span>
      	</a>
      	<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        	<span class="carousel-control-next-icon" aria-hidden="true"></span>
        	<span class="sr-only">Next</span>
      	</a>
    </div>
    <br>
<!-- Main Carousel End-->



<!--MOVIE CATEGORY ROWS-->
    
    <div class="container text-center my-3">
        <!--Title-->
        <h4 style="text-decoration: underline; margin-top: 50px; font-family: 'Poppins', sans-serif; font-weight: bold;">Discover more movies</h4>

        <!-- 1st Row Carousel/Animation-Kids-->
        <div style="padding-top: 80px;" id="recipeCarousel1" class="carousel slide carousel-fade w-100" data-ride="carousel"       data-pause="True" data-interval="10000">
            <!--Category Title-->
            <h5 style="text-decoration: underline; text-align: left; font-family: 'Poppins', sans-serif;">Animation - Kids</h5>
            <div style="height: 200px; margin: 0; padding: 0;border: 2px solid black;border-radius: 6px;" class="carousel-inner w-100" role="listbox">
                <!--1st slide-->
                <div style="margin: 0; padding: 0;" class="carousel-item row no-gutters active">
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3p2tGvU" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3tDZ7jy" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2Z7BqT3" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3aJEvxH" style="height: 200px;"></div>
                </div>
                <!--2nd slide-->
                <div style="margin: 0; padding: 0;" class="carousel-item row no-gutters">
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3q2IBYc" style="height: 200px;padding-right: 10px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3q0KcxI" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/36QWQYx" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2YVuRCI" style="height: 200px;"></div>
                </div>
            </div>
            <!--Control (Left-Right) Buttons-->
            <a class="carousel-control-prev" href="#recipeCarousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- 2nd Row Carousel/Comedies-Family-->
    <div class="container text-center my-3">
        <div style="padding-top: 30px;" id="recipeCarousel2" class="carousel slide carousel-fade w-100" data-ride="carousel" data-interval="10000">
            <!--Category Title-->
            <h5 style="text-decoration: underline; text-align: left; font-family: 'Poppins', sans-serif;">Comedies - Family</h5>
            <div style="height: 200px; margin: 0; padding: 0;border: 2px solid black;border-radius: 6px;" class="carousel-inner w-100" role="listbox">
                <!--1st slide-->
                <div style="margin: 0; padding: 0;" class="carousel-item row no-gutters active">
                    <div class="col-3 float-left"><img class="img-fluid" src="https://hulu.tv/3oXpuh3" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3tAzC2L" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2MAD1OB" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3qbrEuE" style="height: 200px;"></div>
                </div>
                <!--2nd slide-->
                <div style="margin: 0; padding: 0;" class="carousel-item row no-gutters">
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/39Vkp4C" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2OfzyFw" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3pYENYf" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2YWm1ou" style="height: 200px;"></div>
                </div>
            </div>
            <!--Control (Left-Right) Buttons-->
            <a class="carousel-control-prev" href="#recipeCarousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!-- 3rd Row Carousel/Documentaries-->
    <div class="container text-center my-3">
        <div style="padding-top: 30px;" id="recipeCarousel3" class="carousel slide carousel-fade w-100" data-ride="carousel" data-interval="10000">
            <!--Category Title-->
            <h5 style="text-decoration: underline; text-align: left; font-family: 'Poppins', sans-serif;">Documentaries</h5>
            <div style="height: 200px; margin: 0; padding: 0;border: 2px solid black;border-radius: 6px;" class="carousel-inner w-100" role="listbox">
                <!--1st slide-->
                <div style="margin: 0; padding: 0;" class="carousel-item row no-gutters active">
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2MMC7yh" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3pZxHma" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3rwDkbT" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2YTK6ft" style="height: 200px;"></div>
                </div>
                <!--2nd slide-->
                <div style="margin: 0; padding: 0;" class="carousel-item row no-gutters">
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3jthnro" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/36R2KJb" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/2MAHmkR" style="height: 200px;"></div>
                    <div class="col-3 float-left"><img class="img-fluid" src="https://bit.ly/3pZNNw9" style="height: 200px;"></div>
                </div>
            </div>
            <!--Control (Left-Right) Buttons-->
            <a class="carousel-control-prev" href="#recipeCarousel3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!--Movie Category Rows End-->
{% endblock content %}