/*Main Styling Sheet*/
/*Includes styling (in this single file) for all page components, within the website*/ 


	/*MAIN BODY/Identical for all pages*/
/*------------------------------------------------*/
body {
	width: 100%;
	margin:auto;
	background-color: rgba(201, 76, 76, 0.1);
	padding-bottom: 100px;
	background-image: url('images/index/covers.jpg');
    background-size: auto;
}

p {
	position: absolute;
	top: 20%;
  	width: 100%;
  	text-align: center;
}


#logo {
	font-family: 'Lobster', cursive;
	font-size: 35px;
}

#header {
	font-family: 'Fredoka One', cursive;
	font-size: 35px;
	position: absolute;
    width: 100%;
    height: 100px;
    animation: header_animation 1s;
    
}

/*#page-title {
	border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 8px;
    padding-top: 150px;
}*/



		/*INDEX PAGE*/
/*-----------------------------*/
#main-text {
	margin: auto;
	margin-top: 110px;
    width: 500px;
    height: 600px;
    background-color: rgba(201, 76, 76, 1);
    border: 4px solid black;
  	border-radius: 14px;
  	box-shadow: 10px 10px 5px rgba(220, 100, 100, 0.7);
  	animation: main_animation 0.75s;
  	overflow: auto;
}

#main-text-borders {
	margin: 15px;
	
}

/*Hyperlink, takes users to Recommendation Page*/
#take_me_there {
	text-decoration: underline;
}





		/*CAMERA PAGE*/
/*---------------------------*/
#cam_page {
	margin-top: 50px;
	border: 15px solid rgba(150, 100, 100, 0.8);
	border-radius: 5px;
	width:100%;
	animation: main_animation 0.75s;
	background-color: rgba(201, 76, 76,0.8);

}

#cam_page_title {
	font-size: 25px; 
	top: 10%;
}

#face_image {
	border: 8px solid gray;
  	border-radius: 14px;
}



#column1 {
	margin: 50px;
	padding-left:20px;
	width:50%;                   
}

#column2 { 
	margin: 30px;
	margin-top: 50px;
	text-align: center;
	width:50%;
	background-color:rgba(150, 100, 100, 0.8);
	padding-top: 10px;
}

#img{
	border: 1px solid grey;
	border-radius: 4px;
	padding: 5px;
	width: 100px;
	height: 100px;
}

figcaption {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.col {
	padding: 0;
}

.form-group.row {
	margin: 10px;
	padding-top: 250px;
	padding-bottom: 30px;
	
}


#text p {
	margin: 10px;
	font-size: 15px;
	text-align: left;
	padding-right: 20px;
}

#questionnaire {
	 
	font-weight: bold; 
	padding-left: 40%;
	text-decoration: underline;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 20px;
}




		/*MOVIES PAGE*/
/*---------------------------*/
#movies-page {
	padding-top:4%;
	padding-bottom: 4%;
	margin-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
	background-color: rgba(220, 100, 100,0.8);
}

#movies_page_title {
	text-decoration: underline;
}

#carouselExampleFade{
	margin: auto;
	height: 500px;
	width: 1000px;
}





		/*ANIMATION*/
/*-----------------------*/
/*Header Animation*/
@keyframes header_animation{
	from {
		opacity:0;
		transform: translateY(-10px);

	}

	to {
		opacity:1;
		transform: translateY(0);
	}
}

/*Main body Animation*/
@keyframes main_animation{
	from {
		opacity:0;
		transform: translateX(-100px);

	}

	to {
		opacity:1;
		transform: translateX(0);
	}
}